.listDiv{
    margin-top: 20px;
    overflow: auto;
    font-family: "Arial Narrow";
    border: 1px solid black;
    float: left;
    width: 27%;
    height: 445px;
    text-align: center;
    background-color:#d2e4c8;
    box-shadow: 1px 1px 1px #111;
}
.mapAndList{ /*Wrapper kun kart og lista*/
    width: 96%;
    height: 580px;
    padding: 20px;
    float: left;
    margin-top: 5px;
}
.mapDiv{
    margin-top: 15px;
    border: 1px solid black;
    float: right;
    width: 70%;
    height: 638px;
    box-shadow: 1px 1px 1px #111;

}
.app-wrapper{ /*Wrapper alle componentene*/
    /*border: 2px solid black;*/
    height: 900px;
    width: 100%;
    float: center;
    background-color: #d2e4c8;
}
.info{
    vertical-align: middle;
    display:block;
    font-family: "Arial Narrow";
    text-align: center;
    float: right;
    border: 1px solid black;
    width: 70%;
    height: 165px;
    background-color:#ebfaeb;
    overflow: auto;
}
.polyButton{
    float: right;
    margin-top: 15px;
    margin-left: 90px;
    z-index: 1;
    position:absolute;
    transform: translate(-50%, -50%)
}
.buttons{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 1;
}
.form{
    padding-left: 5px;
    float: left;
    font-family: "Arial Narrow";
    border: 1px solid black;
    width: 27%;
    box-shadow: 1px 1px 1px #111;
    height: 360px;
    background-color:#d2e4c8;
    overflow: scroll;
    box-sizing: border-box;

}
input[type=text] {
    width: 99%;
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.popup{
  border: 1px solid black;
  width: 27%;
  height: 360px;
  z-index: 1;
  font-family: "Arial Narrow";
  text-align: center;
  background-color:#d2e4c8;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
