.listDiv{
    margin-top: 20px;
    overflow: auto;
    font-family: "Arial Narrow";
    border: 1px solid black;
    float: left;
    width: 25%;
    height: 580px;
    text-align: center;
    background-color:#ebfaeb ;
    box-shadow: 1px 1px 1px #111;
}
.mapAndList{ /*Wrapper kun kart og lista*/
    width: 96%;
    height: 580px;
    padding: 20px;
    float: left;
    margin-top: 10px;
}
.mapDiv{
    margin-top: 20px;
    border: 1px solid black;
    float: right;
    width: 70%;
    height: 580px;
    box-shadow: 1px 1px 1px #111;
}
.app-wrapper{ /*Wrapper alle componentene*/
    border: 2px solid black;
    height: 900px;
    width: 100%;
    float: center;
    background-color:#F0F8FF;
}
.main-content{
    float: right;
    border: 1px solid black;
    height: 34px;
    font-family: "Arial Narrow";
    font-size: 30px;
    background-color: #ebfaeb;
    width: 100%;
    text-align: center;
}
.info{
    text-align: center;
    float: right;
    border: 1px solid black;
    width: 100%;
    height: 40px;
}
.buttons{
    float: right;
}
