.listDiv{
    overflow: auto;
    font-family: monospace;
    border: 2px solid black;
    border-radius: 25px;
    float: left;
    width: 25%;
    height: 580px;
    text-align: center;
    background-color: #B0E0E6;
    box-shadow: 5px 5px 5px #111;
}
.mapAndList{ /*Wrapper kun kart og lista*/
    width: 96%;
    height: 580px;
    border: 2px solid blue;
    padding: 20px;
    float: left;
    margin-top: 10px;
}
.mapDiv{
    border: 2px solid black;
    float: right;
    width: 70%;
    height: 580px;
    box-shadow: 5px 5px 5px #111;
}
.app-wrapper{ /*Wrapper alle componentene*/
    border: 2px solid black;
    height: 900px;
    width: 79%;
    float: right;
}
.main-content{
    float: right;
    border: 2px solid yellow;
    height: 30px;
    font-family: monospace;
    font-size: 25px;
    width: 100%;
    text-align: center;
}